html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #333;
}

h1 {
  margin: 2rem 0 1rem;
}

h2 {
  font-size: 1.75em;
}

h3 {
  margin-top: 0;
}

header {
  margin-bottom: 2.5rem;
  padding: 0 1rem;
}

p {
  padding: 0;
  margin: 0 0 0.25rem;
}

a {
  color: #28abb9;
  text-decoration: none;
}

#main {
  position: relative;
  display: block;
  flex: 1 1 100%;
  max-width: 75rem;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#detailsSection {
  padding: 0 1rem;
  display: block;
  border-bottom: 2px solid #bbb;
}

#postsSection {
  padding: 0;
  display: block;
  margin-bottom: 2rem;
}

#postsSection h2 {
  margin: 1rem;
}

.nowrap {
  white-space: nowrap;
}

.italic {
  font-style: italic;
}

.details__container {
  border: 2px solid transparent;
  margin-bottom: 2rem;
}

.post__container {
  padding: 1rem;
  border: 2px solid transparent;
}

.post__container:not(:last-child) {
  border-bottom-color: #bbb;
}

@media screen and (min-width: 481px) {
  #detailsSection, #posts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom-color: transparent;
  }

  #postsSection {
    padding: 0 1rem;
  }

  #posts__wrapper {
    flex-wrap: wrap;
  }
  
  .details__container, .post__container {
    width: 30%;
    border-color: #bbb;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
  }

  .post__container {
    margin-bottom: 1.5rem;
  }
}